* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    outline: none;
}
#check{
    display: none;
}
#menu {
    width:20px;
    transition: all .5s;
    
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px;
}
#icone {
    
    position: fixed;
    margin: 15px;
    z-index: 1;
    transition: all .4s;

}

.barra{
    background:  linear-gradient(65deg,  rgba(195, 79, 230, 0.986), rgba(137, 60, 209, 0.986), rgba(66, 128, 243, 0.972));
    height: 100%;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
    width: 200px;
    box-shadow: 0px 2px 60px rgba(0, 0, 0, 0.3);
    position: fixed;
    transition: all .5s ;
    left: -100%;
}

nav {
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    position:absolute;
    top: 60px;

}
nav a {
    text-decoration: none;
    color: black;
}
.link {
    background-color: rgba(255, 255, 255, 0);
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
    padding: 30px;
    transition: all .2s;
    outline: none;
    border: none;
    width: 190px;
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    color: rgb(255, 255, 255);
    
}
.link:hover {
    background-color: rgba(255, 255, 255, 0.575);
}
.link:active {
    transition: all .2s;
    text-decoration: none;
    outline: none;
    transition: all .2s;
    color: white;
    background-color: black;
}
#check:checked ~ .barra {
    left: 0%;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
}
#check:checked ~ #icone {
    transition: all .4s;
    border-radius: 100%;
    transform: rotate(90deg);
}
#check:checked ~ #menu {
    transition: all .5s;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
}

#pinfo {
    font-family: 'Poppins', 'sans-serif';
    font-size: 13px;
    margin-left: 24px;
    margin-top: -29px;
}
#info {
    outline: none;
    border: none;
    width: auto;
    height: 1px;
    margin: 96% 20px auto;
    
}
#menu-info {
    width: 16px;

}
/* LUPA -------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------ */
#lupa{
    display: none;
}
#lupaft {
    width:20px;
    transition: all .5s;
    z-index: 1;
    transform: rotate(-90deg);
    
}
#icone-lupa {
    
    position: fixed;
    margin: -4.7% 90% ;
    z-index: 1;
    
    transition: all .4s;

}
#selec{
    width: 100%;
    margin: -6% 16%;
    left: 100%;
    height: auto;
    transition: all .8s;
    position: fixed;
}
@media (min-height: 750px) {
    #selec{
        margin: -2% 16%;

    }
    #icone-lupa {

        margin: -2% 90% ;

    
    }
    #lupaft {
        width:30px;
        transition: all .5s;
        transform: rotate(-90deg);
        
    }
}
@media (height: 812px) {
    #selec{
        margin: -3% 16%;

    }
    #icone-lupa {

        margin: -4.7% 87% ;

    
    }
    #lupaft {
        width:23px;
        transition: all .5s;
        transform: rotate(-90deg);
        
    }
}
#play {
    border-top-right-radius: .5em;
    border-bottom-left-radius: .2em;
    border-top-left-radius: .2em;
    border-bottom-right-radius: .5em;
    font-family: 'Poppins', 'sans-serif';
    font-size: 15px;
    width: 8%;
    color: rgb(7, 218, 255);
    background-color: black ;
    border: none;
    transition: all .2s;
    height: 39px;
    outline: none;
    margin-left: -2%;
}
#play:active {
    background-color: white;
    color: black;
    transition: all .3s;
}
#oq:active {
    background-color: white;
    color: black;
    transition: all .2s;
}
#oq {
    outline: none;
    width: 60%;
    transition: all .2s;
    color: rgb(7, 218, 255);
    background-color: black ;

    border-style: solid;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    /*border-top-right-radius: .6em;
    border-bottom-right-radius: .7em;*/
    height: 40px;
    
    font-family: 'Poppins', 'sans-serif';
}

#lupa:checked ~ #selec {
    left: 0%;
    transition: all .8s;

}
#lupa:checked ~ #icone-lupa {
    transition: all .5s;
    transform: rotate(360deg);
}


/*LUPAAAA*/
@media (max-height: 450px){
    .link {
        padding: 14px;
    }
    .barra {
        height: calc(100% + 20px);
    }
    #contato {
        height: calc(100% + 20px);
    }
    #info {
        margin: 25% 20px auto;
    }
}
@media (max-height: 600px) {
    #info {
        margin: 10% 20px auto;
    }
}
@media (min-width: 1024px) {
    .barra {
        width: 300px;

    }
    #menu {
        width: 30px;
    }
}
@media (max-height: 320px) {
    .link {
        padding: 8px;
    }
}